[Desktop Entry]
Name=Grustyvman
Comment=QEMU/KVM Virtual Machine Manager
Exec=grustyvman
Icon=grustyvman
Terminal=false
Type=Application
Categories=System;Emulator;
StartupWMClass=grustyvman
